:root{
    --primary-color:#FF782D;
    --title-font: "Exo", sans-serif;
    --desctiption-font: "Jost", sans-serif;
    --description-color: #555555;
    --gray-background-color: #F5F5F5;
}

.banner{
    margin-top: 72px;
    padding: 0 70px;
    height: 60px;
    display: flex;
    align-items: center;
    gap: 8px;
    background-color: var(--gray-background-color);
    font-family: var(--desctiption-font);
    line-height: 150%;

    .homepage{
        margin: 0;
        color: var(--description-color);
        text-decoration: none;
    }
    a{
        text-decoration: none;
    }
    .course, i{
        margin: 0;
        color: #9D9D9D;
    }
    i{
        font-size: 12px;
    }
}

.faqs{
    margin: 56px 70px 0;
    .accordions{
        margin: 50px 0;
        display: flex;
        justify-content: space-between;
        .col{
            display: flex;
            flex-direction: column;
            gap: 30px;
            max-width: 595px;
        }
        details{  
            padding: 20px 30px;
            background-color: var(--gray-background-color);
            border-radius: 8px;
            summary{
            list-style: none;
            display: flex;
            justify-content: space-between;
            font-family: var(--title-font);
            font-weight: 600;
            line-height: 120%;
            cursor: pointer;
            &:hover, &:focus{
            color: var(--primary-color);
            i{
                color: black;
            }
        }
        
        }
        .description{
            margin: 20px 0;
        }
        

        }

        
    }


}





@media screen and (max-width : 992px) {

        .banner{
            margin: 0;
            margin-top: 90px;
            padding: 0 20px;
        }
        .faqs{
            margin: 56px 20px 0;
            .accordions{
                display: flex;
                flex-direction: column;
            }
            img{
                    width: 320px;
                }
        }
    }